/* 
Project
home.css
Spring 2016
David Van
*/
html {
	background-image: url("../bg-image/cyanbg.jpg");
	background-position: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-repeat: no-repeat;
}
